#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.logo-container img {
  height: 10rem;
}

.hero-image {
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size:  2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}

.button-container {
  display:  flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.button-container a {
  width: 30rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;
  font: 700 2.0rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);
  transition: background-color 0.2s;
}

.button-container a:first-child {
  margin-right: 1.6rem;
}

.button-container a img {
  width: 4rem;
}

.button-container a.study {
  background: var(--color-primary-lighter);
}

.button-container a.give-classes {
  background: var(--color-secundary);
}

.button-container a.study:hover {
  background: var(--color-primary-light);
}

.button-container a.give-classes:hover {
  background: var(--color-secundary-dark);
}

.button-container a img {
  margin-right: 2.4rem;
}

.total-connections {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
  justify-content: center;

}

.total-connections img {
  margin-left: 0.8rem;
}

@media (min-width: 1100px) {
  #page-landing-content {
    max-width: 1100px;
    
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 
      "logo hero hero"
      "button button total"
    ;
  }
}

.logo-container {
  grid-area: logo;
  align-self: center;
  text-align: left;
  margin: 0;
}

.logo-container h2 {
  text-align: initial;
  font-size: 3.6rem;
}

.logo-container img {
  height: 100%;
}

.hero-image {
  grid-area: hero;
  justify-self: end;
}

.button-container {
  grid-area: button;
  justify-content: flex-start;
}

.button-container a {
  font-size: 2.4rem;
}

.total-connections {
  grid-area: total;
  justify-self: end;
}